#terminal {
  background-color: black;
  color: white;
  font-family: monospace;
  font-size: 18px;
  height: 40ch;
  position: relative;
}

#terminal-input {
  position: absolute;
  bottom: 0;
  width: 100%;
}

#terminal-input-prefix {
  display; inline-block;
  width: 20%;
}

#terminal-input input{
  background-color: black;
  color: white;
  font-size: 18px;
  border: none;
  height: 18px;
  width: 80%;
}

.col {
  width: 49.6%;
  display: inline-block;
}

textarea {
  width: 80ex;
  height: 80ex;
}