body {
  background-color: black;
  color: white;
}

.row {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.col {
  width: 100%;
  padding: 0.5em;
}

#registers {

}

#terminal {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: black;
  color: white;
  font-family: monospace;
  font-size: 18px;
  height: 300px;
  position: relative;
  padding: 5px;
  border: 1px solid white;
}

#terminal-output {
  height: 100%;
}

#terminal-input {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  height: 22px;
}

#terminal-input-prefix {
}

#terminal-input-field{
  background-color: black;
  color: white;
  height: 18px;
  width: 100%;
}

#terminal-input-field input{
  background: none;
  color: white;
  font-size: 18px;
  height: 18px;
  border: none;
  width: 100%;
  font-family: monospace;
}

#program textarea {
  width: 100%;
  min-height: 600px;
  background-color: black;
  color: white;
  font-size: 18px;
  border: 1px solid white;
  font-family: monospace;
}

